body {
	text-align: center;
	font-family: 'Annie Use Your Telescope';
	font-size: 30px;
}

footer {
	font-size: 25px;
	border-top: 1px solid black;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.projectName {
	font-size: 25px;
}